h1{
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
body{
    background-color: chocolate;
}
input{
    background-color: yellow;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    width: 240px;
    position: relative;
    left: 25%;
}
input:focus{
    outline: none;
}
input::placeholder{
    color: black;
}
button{
    width: 80px;
    padding: 10px;
    background-color: yellow;
    color: black;
    border: none;
    box-shadow: 4px 4px yellow;
    position: relative;
    left: 40%;
}
button:hover{
    cursor: pointer;
}
button:focus{
    outline: none;
}
form{
    top: 200px;
    position: relative;
    left: 35%;
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 14px 14px 14px black;
}